.zilu {
    box-sizing: border-box;
    padding: 20px;
}

.zilu .button-icon {
    background: #446092 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 20px;
}

.zilu .zilu-topbar {
    display: flex;
    justify-content: flex-start;
}

.zilu .zilu-split {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.zilu .zilu-info {
    border-collapse: collapse;
    margin-top: 20px;
    background: #eee;
    border: 1px solid white;
}

.zilu .zilu-info tr td:first-child {
    padding-right: 20px;
}

.zilu .zilu-info tr td {
    padding: 5px;
}

.zilu .zilu-table {
    flex: auto;
}

.zilu .jslink {
    white-space: nowrap;
}

.zilu .zilu-table .hidden,
.zilu .hidden,
.zilu-dialog .hidden {
    display: none;
}

.zilu .container-box {
    display: flex;
    flex-shrink: 0;
}

.zilu .button-inline-icon {
    border: none;
    background: #9bc2e9;
    cursor: pointer;
    width: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;

}

.zilu-dialog.centered {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*------------------------------------
- FOURNISSEUR TABLE
------------------------------------*/
.zilu-fournisseur-comparison-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}

.zilu-fournisseur-comparison-table tr,
.zilu-fournisseur-comparison-table th,
.zilu-fournisseur-comparison-table td {
    border: 1px solid #ccc;
}

.zilu-fournisseur-comparison-table td,
.zilu-fournisseur-comparison-table th {
    padding: 10px;
    background: #eee;
}

.zilu-fournisseur-comparison-table tr.selected td {
    background: black;
    color: white;
}

.button-with-icon {
    cursor: pointer;
    background: #1e627d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
}

.button-with-icon:hover {
    background: #2882a6;
}

.button-with-icon span {
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    /*border: none;*/
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    border-radius: 2px;
    cursor: pointer;
}

.flex-inner li {
    width: 100px;
}

.zilu .commande-actions-group {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

/*.zilu .commande-actions-vertical{*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

.zilu .ui-selectmenu-button.ui-button {
    width: 28em;
}

.zilu .add-container-spy,
.zilu .remove-container-spy {
    margin-top: 10px;
}

.zilu .container-spy-block {
    margin-top: 20px;
    border: 1px solid #eee;
    padding: 5px;
}

.zilu .container-spy-block.first {
    margin-top: 0px;
}

.zilu .container-spy-selector {
    display: block;
}

.zilu .button-natural {
    background: white;
    color: black;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.zilu-button-naked {
    background: none;
    border: none;
    cursor: pointer;
}

.zilu-flex-horizontal {
    display: flex;
    flex-direction: row;
}

.zilu-repartition-table th {
    background: #ccc;
}

.zilu-repartition-table td {
    padding: 10px;
}

.zilu-auto-complete {
    z-index: 1000000;
}

.zilu .longtext {
    white-space: nowrap;
    color: #a4703e;
}

.zilu .datatable td {
    padding: 0px;
    padding-left: 5px;
}

.zilu-dialog .error {
    color: red;
}

.zilu-dialog .warning {
    color: red;
}

.zilu .datatable tr.red td {
    background: #cb5b5b;
}

.array-renderer-table {
    border-collapse: collapse;
}

.array-renderer-table tr,
.array-renderer-table td {
    border: 1px solid #ddd;
}

.array-renderer-table td {
    padding: 5px;
}

.nowrap {
    white-space: nowrap;
}

.formerror {
    color: red;
}

.formwarning {
    color: orange;
}

.zilu-nobullet {
    list-style-type: none;
}

button.zilu-black-button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    border-radius: 2px;
    cursor: pointer;
}

.zilu-success {
    color: green;
}

.zilu-error {
    color: red;
}

/*.zilu .zilu-summary {*/
/*box-sizing: border-box;*/
/*padding: 20px;*/
/*background: #ddd;*/
/*border: 1px solid #eee;*/
/*border-right: none;*/
/*}*/

.zilu-summary {
    margin-right: 20px;
}

.zilu-summary table {
    font-size: 0.9em;
    border-collapse: collapse;
}

.zilu-summary td,
.zilu-summary th {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
}

.zilu-overload {
    background-color: #f2a6a6;
}